<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Register</title>

    <link href="../static/css/login-box.css" rel="stylesheet" type="text/css" />
</head>
{% extends 'Base.html' %}
{% block title %}??????{% endblock %}
{% block content %}
<body>
<div >
    <div id="login-box">
        <H2>Regiseter</H2>
        <br />
        <div id="login-box-name" style="margin-top:20px;">Email:</div><div id="login-box-field" style="margin-top:20px;"><input name="q" class="form-login" title="Username" value="" size="30" maxlength="2048" /></div>
        <div id="login-box-name">Password:</div><div id="login-box-field"><input name="q" type="password" class="form-login" title="Password" value="" size="30" maxlength="2048" /></div>
        <div id="login-box-name" style="margin-bottom:20px;">Password again:</div><div id="login-box-field"><input name="q" type="password" class="form-login" title="Password" value="" size="30" maxlength="2048" /></div>
        <br />
        <br />
        <a href="#"><img src="../static/images/login-btn.png" width="103" height="42" style="margin-left:90px;" /></a>
    </div>
</div>
</body>
{% endblock %}
</html>
